@import"base/variables";
@import"base/mixin";
@import"base/maps";
@import"componentes/header";
@import"componentes/ofertas";
@import"componentes/principal";
@import"componentes/footer";



@media only screen and (max-width: 576px){
    .contenedor-productos .cards{
        display: grid;
        text-align: center;
        justify-content: space-between;    
        margin: 40px;
        padding: 20px;
}

    .contenedor-ofertas{
        display: grid;
        text-align: center;
        justify-content: space-around;    
        margin: 40px;
        padding: 20px;
    }
}
