@import"base/variables";
@import"base/mixin";
@import"base/maps";
@import"componentes/header";
@import"componentes/ofertas";
@import"componentes/principal";
@import"componentes/footer";



@media only screen and (max-width: 766px){
    .contenedor-ofertas{
        display: grid;
        text-align: center;
        justify-content: space-around;    
        margin: 40px;
        padding: 20px;
    }
}

 @media only screen and (min-width: 766px){

    .contenedor-ofertas{
        display: grid;
        grid-template-columns: 5fr 5fr;
        grid-template-rows: 5fr 5fr;
        align-items: center;
         text-align: center;
        margin: 40px;
        padding: 20px;
    }

 }
